.breadcrumb > li {
  display: inline;
}

.breadcrumb li.location+li.location::before {
  content: "/";
}

.breadcrumb li.attribute a {
  color: darkgray;
}
.breadcrumb li.attribute::after {
  content: "x";
  vertical-align: super;
  font-size: 10px;
  color: red;

}